.profile__edit-button {
  all: unset;
  width: 24px;
  height: 24px;
  margin: 15px 0 0 18px;  
}

@media screen and (max-width: 768px) {
  .profile__edit-button {
    position: absolute;
    margin: 0;
    right: -34px;
    top: 24px;  
  }
}